.side-bar
  .user-name
    .user-name__frame
      .user-name__frame--left
        = current_user.name
      .user-name__frame--right
        = link_to new_group_path, class:"btn" do
          = icon('far', 'edit')
          %span<>
        = link_to edit_user_path(current_user), class:"btn" do
          = icon('fas', 'cog')
  .group-list
    - current_user.groups.each do |group|
      .group
        = link_to '#', class: "group" do
          .group__name
            = group.name
          .group__message
            メッセージはまだありません。




