.side-bar
  .user-name
    .user-name__frame
      .user-name__frame--left
        kazuki.afb
      .user-name__frame--right
        = link_to "#", class:"btn" do
          = icon('far', 'edit')
          %span<>
        = link_to "#", class:"btn" do
          = icon('fas', 'cog')
  .group-list
    = render "groups"



